DATABASE_URL="postgresql://user:password@localhost:9824/db"

ADMIN_EMAIL=
ADMIN_PASSWORD=

API_KEY=""
API_KEY_RATE_LIMIT_MAX_REQUESTS=30
API_KEY_RATE_LIMIT_WINDOW_MS=60000

BETTER_AUTH_URL=http://localhost:2947
BETTER_AUTH_SECRET=